<!DOCTYPE html>
<html lang="en">

<head th:replace="template.html :: header('Add employer')">
</head>

<body>
  <h1 th:text="${employer.name}"></h1>
  <img th:src="|/logo/${employer.logo_path}|" width="200" />
  <p>
    <a class="mt-5" th:href="|/job/add?emp_id=${employer.id}|">Add new job</a><br><br>
    <a class="mt-5" th:href="|/job|">List jobs</a><br><br>
    <a th:href="|/employer/update/${employer.id}|">Update</a><br><br>
    <a th:href="|/employer/delete/${employer.id}|">Delete</a>
  </p>

</body>

</html>