<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${employer.name}"></title>
</head>

<body>
  <h1 th:text="${employer.name}"></h1>
  <img th:src="|/logo/${employer.logo_path}|" width="200" />
  <p>
    <a th:href="|/job/add?emp_id=${employer.id}|">Add new job</a><br><br>
    <!-- <a th:href="|/job/${job.emp_id}|">List jobs</a><br><br> -->
    <a th:href="|/employer/delete/${employer.id}|">Delete</a>
  </p>

</body>

</html>