<!DOCTYPE html>
<html lang="en">

<head th:replace="template.html :: header('employer')">
</head>

<body>
    <h3>Remove Employer</h3>
    <p>
        <a th:href="@{/}">Back to home page</a>
    </p>

    <div id="form">
        <form action="#" th:action="@{/employer/delete}" th:object="${employer}" method="POST" novalidate="novalidate">
            <input type="hidden" th:field="*{id}">
            <div>
                <lable>Name</lable>
                <input type="text" th:field="*{name}">
            </div>
            <div>
                <lable>Logo</lable>
                <input type="text" th:field="*{logo_path}">
            </div>
            <div>
                <lable>Website</lable>
                <input type="text" th:field="*{website}">
            </div>
            <div>
                <lable>Email</lable>
                <input type="text" th:field="*{email}">
            </div>
            <input type="submit" value="Remove" />
        </form>
    </div>

    <div th:fragment="footer">
        <p>Copyright ©2022</p>
    </div>
</body>

</html>